/*Inicio*/

/*Navbar*/
.navbar-nav {
    margin-left: auto;
    gap: 1rem;
    /* espacio entre enlaces */
}

.navbar-brand {
    font-size: 1.25rem;
}


.header {
    background-color: #dceeff;
}

.header-image {
    max-height: 200px;
    width: auto;
}

.container h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

.container p {
    font-size: 1.15rem;
    line-height: 1.8;
    color: #333;
    max-width: 850px;
    margin: 0 auto;
}

/*Amenazas.html*/
.container-amenazas {
    background-color: #dceeff;
    padding: 3rem 1rem;
}

/*Cards*/
.titulo-amenazas {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.card {    
    border: none;    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card-body {
    background-color: #86c3fb;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.card-text {
    font-size: 0.95rem;
    text-align: center;
}

/*Carrusel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    width: 3rem;
    height: 3rem;
}
